@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.info{
    margin-left: 26px;
    margin-right: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 20px;
}

.contact h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.contact p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.adress h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.adress a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    color: black
}

.social_networks a {
    padding: 15px;
}

.Instagram span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    text-decoration: none;
}
.Instagram {
    width: 44px;
    height: 44px;
    color: black;
}

.WhatsApp {
    width: 44px;
    height: 44px;
    color: black;
}



.workTime h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.workTime p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.map {
    margin-top: 50px;
}

.map Iframe {
    width: 100%;
    height: 450;
    border:0; 
}